body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    height: 500px;
    width: 300px;
    background-color: black;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}
form input{
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background-color: darkslategray;
    text-align: right;
    
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding:20px;
    flex-wrap: wrap;
}
button{
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    margin:5px 0;
    border:1px solid black;
}
.btn-yellow{
background-color: rgb(245, 146, 62);
color:white;
}
.btn-grey{
    background-color: rgb(224, 224, 224);
    color:rgb(0, 0, 0);
    }
.btn-equal{
    background-color: red;
    color:white;

}
.btn-clear{
    background-color: green;
    color:white;
}